<launch>
  <arg name="arg1" />

  <param name="~level1" value="1" />

  <group>
    <arg name="arg2" value="~level2" />
    <param name="$(arg arg2)" value="2" />
    <node name="base1" pkg="fictibot_drivers" type="fictibot_driver" />
    <include file="$(find fictibot_controller)/launch/params.launch" ns="/ns1" />
  </group>

  <group>
    <arg name="arg2" value="2" />
    <param name="arg_param" value="$(arg arg2)" />
  </group>

  <node name="base2" pkg="fictibot_drivers" type="fictibot_driver">
    <param name="param1" value="1" />
    <param name="~param2" value="2" />
  </node>

  <param name="~level1_2" value="1" />

  <node name="control1" pkg="fictibot_controller" type="fictibot_controller" />

  <include file="$(find fictibot_controller)/launch/params.launch" ns="/ns2" />
</launch>