<launch>
  <param name="frequency" type="double" value="1" />

  <node name="listener" pkg="minimal_example" type="subscriber" output="screen">
    <remap from="chatter" to="~topic" />
  </node>

  <node name="talker" pkg="minimal_example" type="publisher" args="frequency" output="screen" />
</launch>